<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
    	<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
	<log4net>
		<appender name="RootConsole" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{MM-dd-yyyy HH:mm:ss} [%logger] %level: %message%n"/>
			</layout>
		</appender>
		<appender name="RootFile" type="log4net.Appender.FileAppender">
			<file value="root.log"/>
			<appendToFile value="false"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{MM-dd-yyyy HH:mm:ss} [%logger] %level: %message%n"/>
			</layout>
		</appender>
		<appender name="SimulationFile" type="log4net.Appender.FileAppender">
			<file value="simulation.log"/>
			<appendToFile value="false"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message%n"/>
			</layout>
		</appender>
		<appender name="ResultFile" type="log4net.Appender.FileAppender">
			<file value="Result.txt"/>
			<appendToFile value="false"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message%n"/>
			</layout>
		</appender>
		<appender name="CSVFile" type="log4net.Appender.FileAppender">
			<file value="Result.csv"/>
			<appendToFile value="false"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message%n"/>
			</layout>
		</appender>
		<root>
			<level value="ALL"/>
			<appender-ref ref="RootFile"/>
			<appender-ref ref="RootConsole"/>
		</root>
		<logger name="Simulation">
			<level value="ALL"/>
			<appender-ref ref="SimulationFile"/>
		</logger>
		<logger name="Result">
			<level value="ALL"/>
			<appender-ref ref="ResultFile"/>
		</logger>
		<logger name="CSV">
			<level value="ALL"/>
			<appender-ref ref="CSVFile"/>
		</logger>
	</log4net>
</configuration>
